// config to run pATLAS_mash_screen.nf script
manifest {
    author = "Tiago F. Jesus"
    description = "This Nextflow pipeline is an implementation of mash-wrapper.py " +
        "and PlasmidUNCover.py. It will output a JSON file that can be " +
        "imported into pATLAS."
}

// sets PYTHONPATH for utils to be available for templates
env {
    PYTHONPATH = "$baseDir/templates"
}

//manifest.mainScript = 'main.nf'

// default values for params
params {
    threads = 1
    kMer = 21
    pValue = 0.05
    identity = 0.9
    mash_distance = 0.1
    noWinner = false
    //bowtie2 unique options
    max_k = 10949   // sets k parameter of bowtie2 -k, allowing the same read to map against more than 1 read. Default value is 1.
    trim5 = 0
    cov_cutoff = 0.60    // cutoff for the coverage in mapping approach
    reads = 'reads/*_{1,2}.fastq*' //this expects that fastq.gz files are in reads folder
    fasta = 'fasta/*.fas' //home/data
    plasmid_length_dict ='jsons/*_length.json'
    mash_screen = false  //boolean to run mash screen. By default it is true
    mapping = false     //boolean to check if mapping approach is enabled. By default it is false
    assembly = false    //boolean to run assembly based mash dist. By default it is set to false
    singleEnd = false
    help = false
    version = 1.1.0
}

process {
    $mashScreen.container = 'tiagofilipe12/patlasflow_mash_screen:1.1'
    $mashOutputJson.container = 'tiagofilipe12/patlasflow_mash_screen:1.1'
    $runMashDist.container = 'tiagofilipe12/patlasflow_mash_screen:1.1'
    $mashDistOutputJson.container = 'tiagofilipe12/patlasflow_mash_screen:1.1'
    $mappingBowtie.container = 'tiagofilipe12/patlasflow_mapping:1.1'
    $samtoolsView.container = 'tiagofilipe12/patlasflow_mapping:1.1'
    $jsonDumpingMapping.container = 'tiagofilipe12/patlasflow_mapping:1.1'
}

// this should be passed with the -profile mash_screen
profiles {
    // standard uses executor local and docker
    standard {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
    slurm {
        process.executor  = "slurm"
        process.errorStrategy = "retry"
        // option exclusive for imm-lobo cluster
        //process.clusterOptions = "--exclude=compute-1"
        process.maxRetries = 3
        shifter.enabled = true

        $mashScreen.cpus = 4
        $mashOutputJson.cpus = 1
        $runMashDist.cpus = 4
        $mashDistOutputJson.cpus = 1
        $mappingBowtie.cpus = 4
        $samtoolsView.cpus = 4
        $jsonDumpingMapping.cpus = 1
        $fullConsensus.cpus = 1

        $mashScreen.memory = { 4.GB * task.attempt }

        $mashOutputJson.memory = "1GB"

        $runMashDist.memory = { 4.GB * task.attempt }

        $mashDistOutputJson.memory = "1GB"

        $mappingBowtie.memory = { 6.GB * task.attempt }
        $mappingBowtie.scratch = true

        $samtoolsView.memory = { 6.GB * task.attempt }
        $samtoolsView.scratch = true

        $jsonDumpingMapping.memory = "1GB"

        $fullConsensus.memory = "1GB"
    }
}