// config to run pATLAS_mash_screen.nf script

manifest {
    author = "Tiago F. Jesus"
    description = "This Nextflow script is an implementation of mash-wrapper " +
        "for mash screen module. It will output a JSON file that can be " +
        "imported into pATLAS."
}

manifest.mainScript = 'pATLAS_mash_screen.nf'
// default values for params
params {
    threads = 1
    kMer = 21
    pValue = 0.05
    identity = 0.9
    noWinner = false
    refSketch = 'reference/patlas.msh'
    reads = 'reads/*_{1,2}.fastq.gz' //this expects that fastq.gz files are in reads folder
    singleEnd = false
    help = false
    version = 0.1
}

process {
    $mashScreen.container = 'tiagofilipe12/patlas_mash_screen:latest'
    $mashOutputSort.container = 'tiagofilipe12/patlas_mash_screen:latest'
}

// this should be passed with the -profile mash_screen
profiles {
    // standard uses executor local and docker
    standard {
        docker.enabled = true
        //process.container = 'tiagofilipe12/patlas_mash_screen:latest'
    }
    singularity {
        singularity.enabled = true
        process.$mashScreen.container = 'docker://tiagofilipe12/patlas_mash_screen:latest'
        process.$mashOutputSort.container = 'docker://tiagofilipe12/patlas_mash_screen:latest'
    }
    // TODO make a profile for slurm
}